.wrapper {
    height: 70px;

    padding: 5px;
    margin: 10px 0;


    background-color: white;
    border-radius: 10px;
}

.body {
    width: 100%;
    /* min-height: 50px;
    max-height: 70px; */
    height: 60px;


    display: flex;
    justify-content: center;
    align-items: center;

}

.checkboxContainer {

    margin: auto 0;

    >input {
        width: 15px;
        height: 15px;
    }
}

.titleContainer {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex: 1;


    height: 50px;

    padding: 0 10px;

    font-weight: 600;
    color: rgb(58, 58, 58);

    text-overflow: ellipsis;
}

.titleText {
    overflow: hidden;
    /* height: 100%; */
    /* display: flex; */
}

.dateContainer {
    padding: 20px 0;
    font-size: 12px;

    >span {
        display: block;
    }
}